<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<a href="/"><button type="button" class="btn btn-primary btn-sm">На Главную</button></a>
<a href="/contacts"><button type="button" class="btn btn-primary btn-sm">Контакты</button></a>
<a href="/publications"><button type="button" class="btn btn-primary btn-sm">Публикации</button></a>

{% block content %}{% endblock %}
</body>
</html>